{% extends 'esc/esc_base.html.twig' %}

{% block title %}ESC Vote{% endblock %}

{% block body %}

    <div class="container-fluid">

    <div class="main">
        <div class="intro">
            <p class="intro-text mb-5">Welcome to Eurovision Song Contest 2025 in Switzerland!</p>
            <div class="mt-5">
                <div class="mb-5 mt-5">
                    <a href="{{ path('app_esc_vote') }}" class="button">Vote Now</a>
                </div>
                <div class="mb-5 mt-5">
                    <a href="{{ path('app_esc_result') }}" class="button">View Results</a>
                </div>
                <div class="mb-5 mt-5">
                    <a href="{{ path('app_esc_result_overview') }}" class="button">Result Details</a>
                </div>
            </div>
        </div>
    </div>
    </div>

{% endblock %}
