{% extends 'esc/esc_base.html.twig' %}

{% block title %}ESC Vote{% endblock %}

{% block body %}
    <div class="container-fluid" id="container">

        <div id="errorModal" class="modal">
            <div class="modal-content">
                <p id="errorMessage">Error Message</p>
            </div>
        </div>
        <div id="confirmationModal" class="modal">
            <div class="modal-content">
                <p>Möchtest du dein voting wirklich abgeben?</p>
                <button class="modal-confirm" id="confirmYes">Yes</button>
                <button class="modal-decline" id="confirmNo">No</button>
            </div>
        </div>


        <div id="targets" class="targets visible">
            <div class="choice-label">Dein Voting</div>
            {% for field in fields %}
                <div class="target-container">
                    <div class="target-name">{{ field }}</div>
                    <div id="target-{{ loop.index }}" class="target"></div>
                </div>
            {% endfor %}
        </div>
        <div id="pool" class="pool hidden" id="pool">
            <div class="contributors-label">Teilnehmer</div>

            {% for choice in choices %}
                <div id="choice-{{ loop.index }}" class="choice">
                    {{ choice|raw }}
                </div>
            {% endfor %}
        </div>
        <input type="text" id="name" class="name" placeholder="Name">
        <div id="approval" class="approval">
            Abschicken
        </div>
        <div style="width: 100px">-</div>
    </div>
{% endblock %}
