$keyForeground: #f8f8f8;
$backGround: #121213;
$correct: #538d4e;
$present: #b59f3b;
$absent: #3a3a3c;

body{
  background-color: $backGround;
  height: 100vh;
  margin: 0;
}

.container{
  margin: 8px;
  display: flex;
  flex-direction: column; /* Stack items vertically */
  height: 100%;

  &.wordle-home{
    background-color: $backGround;
  }
}

.appHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  padding: 0 var(--header-padding-x);
  min-height: 5%;
  width: 100%;
  color: $keyForeground;
  border-bottom: 1px solid $keyForeground;

  button {
    cursor: pointer;
  }

  button.icon {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0 4px;
    color: $keyForeground;
    margin-right: 20px;
  }

  button.icon:last-child {
    padding-right: 0;
  }
}

.subscribeLink {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1em;
  color: var(--color-tone-1);
  border: solid 1px  $keyForeground;
  border-radius: 9999px;
  min-width: 150px;
  height: 50px;
  padding: 0 12px;
  background-color: var(--color-tone-7);

  @media (min-width: 375px) {
    width: 147px;
  }
  @media (min-width: 400px) {
    margin-left: 10px;
  }

  @media (min-width: 1024px) {
    font: 16px/21px 'nyt-franklin-600';
    height: 44px;
    width: 172px;
    margin-left: 12px;
    padding: 0 16px;
    min-height: 35px;
  }
}

.appHeader .title {
  flex-grow: 2;
  font-family: 'nyt-karnakcondensed';
  font-weight: bolder;
  font-size: 3.1em;
  letter-spacing: 0.01em;
  text-align: left;
  left: 0;
  right: 0;
  pointer-events: none;
  position: relative;
}

.menuLeft {
  display: flex;
  margin: 0;
  margin-left: 50px;
  margin-right: 50px;
  padding: 0;
  align-items: center;
  justify-content: flex-start;
}

.menuRight {
  display: flex;
  justify-content: flex-end;

  button svg {
    vertical-align: middle;
  }
}

#navButton {
  padding-top: 2px;
  padding-left: 0px;
  padding-right: 8px;
}

@media (min-width: 1024px) {
  .appHeader {
    .title {
      text-align: center;
      font-size: 3.4em;
    }

    button.icon {
      padding: 0 6px;
    }
  }
}

@media (min-width: 768px) {
  .appHeader {
    .title {
      text-align: center;
      font-size: 3.4em;
    }

    .menuLeft,
    .menuRight {
      // these two must be exactly the same width for the title to be centered
      width: 350px;
    }
  }

  @media (min-width: 1024px) {
    .appHeader .title {
      font-size: 36px;
    }
  }

  #navButton {
    padding-top: 2px;
    padding-left: 0px;
  }
}

.toolbar__menu {
  display: flex;
  align-items: center;
}

.wrapper {
  flex: 1;

  display: flex;
  flex-direction: column;
  //height: 100vh;
  height: 100%;
  justify-content: end; /* Center vertically */

  margin-top: 10px;
}

.center-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.grid-container {
  width: 80%; /* Adjust as needed */
  display: flex;
  flex-direction: column; /* Stack lines vertically */
  margin-right: 50px;
  margin-left: 50px;
}

.grid-line {
  display: flex;
  flex-direction: row; /* Align cells horizontally */
  gap: 10px; /* Add space between cells */
  margin-bottom: 10px;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-2px, 0px) rotate(1deg); }
  30% { transform: translate(1px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-1px, 1px) rotate(0deg); }
  70% { transform: translate(1px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.grid-line.shake {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.grid-cell {
  color: $keyForeground;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 4.9em;
  font-family: 'arial';
  font-weight: bold;


  flex: 1; /* Each cell takes equal space */
  border: 6px solid #3a3a3c;
  padding: 10px;
  text-align: center;
  aspect-ratio: 1; /* Ensure cells maintain a 1:1 aspect ratio */
  transition: transform 0.3s ease; /* Smooth transition for flipping */

  &.flipped {
    transform: rotateY(180deg);
    transform-origin: center; /* Set the transformation origin to the center of the cell */
  }

  &[data-state='correct'] {
    background-color: $correct;
    border: 6px solid $correct;
  }

  &[data-state='present'] {
    background-color: $present;
    border: 6px solid $present;
  }

  &[data-state='absent'] {
    background-color: $absent;
    border: 6px solid $absent;
  }
}

@keyframes pulse {
  0%, 49%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}

.grid-cell.pulse {
  /* The animation will take 0.2 seconds */
  animation: pulse 0.1s ease-in-out;
  animation-iteration-count: 1;
  transform-origin: center;
}


.secondary-container {
  flex: 1;
  background-color: lightgray; /* Just for demonstration */
}



$keyBackground: #818384;

.keyboard {
  flex: 1; /* Each cell takes equal space */

  //height: var(--keyboard-height);
  margin: 50px 8px 0;

  user-select: none;
  justify-content: center;
  align-items: center;

}

.row {
  display: flex;
  width: 100%;
  margin: 0 auto 8px;
  /* https://stackoverflow.com/questions/46167604/ios-html-disable-double-tap-to-zoom */
  touch-action: manipulation;
}

.key {
  //font-family: 'nyt-franklin';
  font-size: 3.5em;
  font-weight: bold;
  border: 0;
  padding: 0;
  margin: 6px 16px 0 0;
  height: 150px;
  border-radius: 6px;
  cursor: pointer;
  user-select: none;
  background-color: $keyBackground;
  color: $keyForeground;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  -webkit-tap-highlight-color: transparent;

  &:last-of-type {
    margin: 6px 0 0 0;
  }

  &[data-state='correct'] {
    background-color: $correct;
    border: 6px solid $correct;
  }

  &[data-state='present'] {
    background-color: $present;
    border: 6px solid $present;
  }

  &[data-state='absent'] {
    background-color: $absent;
    border: 6px solid $absent;
  }
  //
  //&.fade {
  //  transition: background-color 0.1s ease, color 0.1s ease;
  //}
}

.clicked {
  background-color: $backGround !important;
}

.half {
  flex: 0.5;
  background-color: #121213;

}

.one {
  flex: 1;
  background-color: #121213;

}

.oneAndAHalf {
  flex: 1.5;

  font-size: 2.3em;
}

.statistic-container{
  font-size: 3.5em;
  color: $keyForeground;

  .statistic-list{
    display: flex;
    flex-direction: column;
    .statistic-element{

    }
  }
}