{% extends 'times_game/times_base.html.twig' %}

{% block title %}Hello TimesGameController!{% endblock %}

{% block body %}
    <div class="container">

        <div id="invalidWordModal" class="modal">
            <div class="modal-content">
                Not in word list
            </div>
        </div>

        <div id="successModal" class="modal">
            <div class="modal-content">
                Won
            </div>
        </div>

        <div class="wrapper">
            <div class="center-container">
                <div class="grid-container">
                    {% for row in 1..6 %}
                        <div id="line-{{ row }}" class="grid-line">
                            {% for cell in 1..5 %}
                                <div id="cell-{{ row }}-{{ cell }}" class="grid-cell" data-state="empty"></div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>


        <div class="keyboard">
            <div class="row">
                <button type="button" data-state="none" data-key="q" aria-label="add q" aria-disabled="false"
                        class="key">q
                </button>
                <button type="button" data-state="none" data-key="w" aria-label="add w" aria-disabled="false"
                        class="key">w
                </button>
                <button type="button" data-state="none" data-key="e" aria-label="add e" aria-disabled="false"
                        class="key">e
                </button>
                <button type="button" data-state="none" data-key="r" aria-label="add r" aria-disabled="false"
                        class="key">r
                </button>
                <button type="button" data-state="none" data-key="t" aria-label="add t" aria-disabled="false"
                        class="key">t
                </button>
                <button type="button" data-state="none" data-key="y" aria-label="add y" aria-disabled="false"
                        class="key">y
                </button>
                <button type="button" data-state="none" data-key="u" aria-label="add u" aria-disabled="false"
                        class="key">u
                </button>
                <button type="button" data-state="none" data-key="i" aria-label="add i" aria-disabled="false"
                        class="key">i
                </button>
                <button type="button" data-state="none" data-key="o" aria-label="add o" aria-disabled="false"
                        class="key">o
                </button>
                <button type="button" data-state="none" data-key="p" aria-label="add p" aria-disabled="false"
                        class="key">p
                </button>
                <button type="button" data-state="none" data-key="ü" aria-label="add p" aria-disabled="false"
                        class="key">ü
                </button>
            </div>
            <div class="row">
                <div data-testid="spacer" class="Key-module_half__HooWu half key"></div>
                <button type="button" data-state="none" data-key="a" aria-label="add a" aria-disabled="false"
                        class="key">a
                </button>
                <button type="button" data-state="none" data-key="s" aria-label="add s" aria-disabled="false"
                        class="key">s
                </button>
                <button type="button" data-state="none" data-key="d" aria-label="add d" aria-disabled="false"
                        class="key">d
                </button>
                <button type="button" data-state="none" data-key="f" aria-label="add f" aria-disabled="false"
                        class="key">f
                </button>
                <button type="button" data-state="none" data-key="g" aria-label="add g" aria-disabled="false"
                        class="key">g
                </button>
                <button type="button" data-state="none" data-key="h" aria-label="add h" aria-disabled="false"
                        class="key">h
                </button>
                <button type="button" data-state="none" data-key="j" aria-label="add j" aria-disabled="false"
                        class="key">j
                </button>
                <button type="button" data-state="none" data-key="k" aria-label="add k" aria-disabled="false"
                        class="key">k
                </button>
                <button type="button" data-state="none" data-key="l" aria-label="add l" aria-disabled="false"
                        class="key">l
                </button>
                <button type="button" data-state="none" data-key="ö" aria-label="add l" aria-disabled="false"
                        class="key">ö
                </button>
                <button type="button" data-state="none" data-key="ä" aria-label="add l" aria-disabled="false"
                        class="key">ä
                </button>
                <div data-testid="spacer" class="key half"></div>
            </div>
            <div class="row">
                <button type="button" data-key="↵" aria-label="enter" aria-disabled="true"
                        class="key oneAndAHalf">enter
                </button>
                <button type="button" data-state="none" data-key="z" aria-label="add z" aria-disabled="false"
                        class="key">z
                </button>
                <button type="button" data-state="none" data-key="x" aria-label="add x" aria-disabled="false"
                        class="key">x
                </button>
                <button type="button" data-state="none" data-key="c" aria-label="add c" aria-disabled="false"
                        class="key">c
                </button>
                <button type="button" data-state="none" data-key="v" aria-label="add v" aria-disabled="false"
                        class="key">v
                </button>
                <button type="button" data-state="none" data-key="b" aria-label="add b" aria-disabled="false"
                        class="key">b
                </button>
                <button type="button" data-state="none" data-key="n" aria-label="add n" aria-disabled="false"
                        class="key">n
                </button>
                <button type="button" data-state="none" data-key="m" aria-label="add m" aria-disabled="false"
                        class="key">m
                </button>
                <button type="button" data-state="none" data-key="ß" aria-label="add m" aria-disabled="false"
                        class="key">ß
                </button>
                <button type="button" data-state="none" data-key="←" aria-label="backspace" aria-disabled="true"
                        class="key oneAndAHalf">
                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" height="30" viewBox="0 0 24 24"
                         width="30"
                         class="game-icon" data-testid="icon-backspace">
                        <path fill="#f8f8f8"
                              d="M22 3H7c-.69 0-1.23.35-1.59.88L0 12l5.41 8.11c.36.53.9.89 1.59.89h15c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H7.07L2.4 12l4.66-7H22v14zm-11.59-2L14 13.41 17.59 17 19 15.59 15.41 12 19 8.41 17.59 7 14 10.59 10.41 7 9 8.41 12.59 12 9 15.59z"></path>
                    </svg>
                </button>
            </div>
        </div>
    </div>
    <script>
        let search = {{ search|json_encode|raw }};
    </script>

{% endblock %}
