<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Michu Wordle{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('images/favicon.ico') }}" />
    {% block stylesheets %}
        {{ encore_entry_link_tags('times') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('times') }}
    {% endblock %}
</head>
<body>

{% block body %}{% endblock %}
</body>

</html>